<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>String servant</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        body {
          display: flex;
          min-height: 100vh;
          flex-direction: column;
        }

        #root {
            flex: 1;
        }
    </style>
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title" style="font-size: 2.85em">
                    String servant
                </h1>
                <h2 class="subtitle">
                    A simple Vue.js string converter.
                </h2>
            </div>
        </div>
    </section>

    <section class="section" id="root" @keyup.control.67="copyToClipboard">
        <div class="container" style="padding-top: 2em;">
            <h1 class="title">Convert string</h1>
            <h2 class="subtitle" style="margin-bottom: 3em;">
                Paste your string into following textarea and convert it as you wish.
            </h2>

            <div class="field">
                <div class="control">
                    <textarea class="textarea" placeholder="Your string" v-model="string.content" @keyup="string.updateLength()" @keyup.ctrl.86="string.replaceOriginalContent()"></textarea>
                </div>
            </div>
            <p style="margin-bottom: 2em;">
                Number of characters: <span style="font-weight: bold">{{ string.length }}</span>
            </p>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary" @click="copyToClipboard"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                </div>
                <div class="control">
                    <button class="button" @click="string.convertToLowerCase()">Lowercase</button>
                </div>
                <div class="control">
                    <button class="button" @click="string.convertToUpperCase()">Uppercase</button>
                </div>
                <div class="control" v-if="string.originalContent">
                    <button class="button" @click="string.pasteOriginal()">Original</button>
                </div>
                <div class="control">
                    <button class="button is-link" @click="string.clear()">Clear</button>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer" style="height: 100px;">
        <div class="container">
            <div class="content has-text-centered">
            <p>
                <strong>String servant</strong> by <a href="https://github.com/silencesys"> Martin Rocek</a>. The source code is licensed under the
                <a href="http://opensource.org/licenses/mit-license.php">MIT license</a>.
                </p>
            <p>
                <a class="icon" href="//github.com/silencesys/string-servant">
                  <i class="fa fa-github"></i>
                </a>
            </p>
            </div>
        </div>
    </footer>

    <script src="dist/app.js"></script>

</body>
</html>
