<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strings</title>
    <link rel="stylesheet" type="text/css" href="dist/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <section class="content">
            <h1 class="title">Strings</h1>
            <h2 class="subtitle">A simple Vue.js string converter.</h2>
        </section>
    </header>

    <section id="root" class="site-content" @keyup.ctrl.67="copyToClipboard">
        <transition name="fade" v-if="string.information">
            <section class="notification-message" v-bind:class="{ 'success': string.success }">
                <i class="fa" :class="{ 'fa-check' : string.success }" aria-hidden="true"></i>
                {{ string.information }}
            </section>
        </transition>

        <section class="inline-content">
            <section>
            <h2>Convert</h2>
            <p>Paste your string into following textarea and change it.</p>
            </section>

            <section class="character-count">
                <p class="counter">{{ string.length }}</p>
                <p>Characters</p>
            </section>
        </section>

        <textarea v-model="string.content" @keyup="string.updateLength()" @keyup.ctrl.86="string.replaceOriginalContent()"></textarea>

        <section class="inline-content">
            <label>Replace</label>
            <input type="text" name="what" placeholder="what" v-model="string.replace.what">
            <input type="text" name="with" placeholder="with" v-model="string.replace.with">
        </section>

        <section class="inline-buttons">
            <button class="is-primary" @click="copyToClipboard">
                <i class="fa fa-clipboard" aria-hidden="true"></i>
            </button>
            <button @click="string.replaceSubstrings()">Replace</button>
            <button @click="string.convertToLowerCase()">Lowercase</button>
            <button @click="string.convertToUpperCase()">Uppercase</button>
            <button v-if="! string.isContentEqual" @click="string.pasteOriginal()">Original</button>
            <button class="is-link" @click="string.clear()">Clear</button>
        </section>
    </section>

    <footer>
        <p>
            <strong>Strings</strong>
            <a class="icon" href="//github.com/silencesys/strings"><i class="fa fa-github"></i></a>
            by <a href="https://github.com/silencesys"> Martin Rocek</a>. The source code is licensed under the
            <a href="http://opensource.org/licenses/mit-license.php">MIT license</a>.
        </p>
    </footer>

    <script src="dist/app.js"></script>
</body>
</html>
